<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h2>John Smith</h2>
    <img src="https://picsum.photos/200" alt="Photo">
    <div>
        <p style="font-weight: bold;">Hi, my name is John Smith</p>
        <p>
            You can find more information about me
            <a href="https://en.wikipedia.org/wiki/Placeholder_name"><strong>here</strong></a>
        </p>
        <p>
            <mark>Mark</mark> is a good friend of mine, he is quite <strong>strong</strong> and if someone
            insults him, he could <del>delete</del> <em>'em</em>
        </p>
    </div>
</body>
</html>