<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все кандидаты</title>
</head>
<body>
    <h3>Все кандидаты</h3>
    {% for candidate in candidates %}
    <p><a href="/candidate/{{ candidate.id }}">{{ candidate.name }}</a></p>
    {% endfor %}
    <hr>

    <script type="text/javascript">
        function OnSubmitForm()
        {
          if(document.search.search_by[0].checked === true)
          {
            document.search.action ="/search";
          }
          else
          if(document.search.search_by[1].checked === true)
          {
            document.search.action ="/skills";
          }
          return true;
        }
    </script>

    <h4>Поиск</h4>
     <form name="search" onsubmit="return OnSubmitForm();">
        <input type="text" name="search_arg"><br>
        <input type="radio" name="search_by" value="1" checked>По имени
        <input type="radio" name="search_by" value="2">По навыку
        <p>
        <input type="submit" name="submit" value="Искать">
        </p>
     </form>

</body>
</html>